
/* PC */
@media (min-width: 1282px){

    .product-frame {
        width: 230px;
        margin: 8px;
    } 
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1024px){

    #menu .search {
        width: 82%;
    }

    #background {
        height: auto;
    }

    /* #certify .certify-list  {
        
    } */
    
    #background_one,
    #background_two {
        height: 30vh;
    }
    
}

/* Mobile */
@media (max-width: 740px)  {

    html {
        width: 1280px;
    }

    #background {
        height: 80vh;
    }

    #certify .certify-list  {
        height: 320px;
    }

    #slider > #counsel {
        top: 44%;
    }

    #footer {
        min-width: 1280px;
    }

    .radio-btn {
        margin-top: 60px;
    }
   

}