/* PC */
@media (min-width: 1282px) and (max-width: 1380px){

    .product-frame {
        width: 220px;
        margin: 8px;
    } 
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1024px){

    .search .logo-yen {
        margin: 0 70px
    }

    .search-bar .form {
        width: 300px;
    }

    .heart-bag {
        margin-left: 30px;
    }

    #background {
        height: auto;
    }

    #background_one,
    #background_two {
        height: 30vh;
    }   

    #product {
        padding: 25px 16px;
    }

    .product-frame {
        width: 200px;
    }

    #document {
        padding: 20px 16px;
    }

    #certify,
    #certify .certify-list,
    .footer-nav,
    .image {
        width: 1060px;
    }

    #billing {
        padding: 100px 16px;
    }

    .payment-procedure {
        padding: 0 16px 30px;
    }

    #complete-payment {
        padding: 50px;
    }
    
}

/* Mobile */
@media (max-width: 740px)  {

    #document,
    #slider,
    #header {
        width: 100%;
    }

    #link-more,
    #login {
        margin: 0 4%;
    }

    .heart-bag p,
    #login p {
        margin: 0;
    }

    #menu {
        height: 100px;
    }

    #menu .search {
        height: 70px;
        width: 100%;
    }

    .nav {
        height: 100px;
        border-top: 2px solid #FFD627;
        border: none;
    }

    #login > p > a {
        display: none;
    }

    .search .logo-yen,
    .search .heart-bag,
    .search .search-bar,
    #menu .search {
        line-height: 70px;
    }

    .search .logo-yen {
        height: 70px;
        margin: 0 18px;
    }

    .search .form {
        font-size: 14px;
        width: 120px;
    }

    .heart-bag p a {
        display: none;
    }

    .search .heart-bag {
        margin-left: 10px;
    }

    .nav-bars .fas {
        font-size: 18px;
        line-height: 30px;
    }

    .nav-bars > a {
        line-height: 34px;
        margin: 0 40px;
        font-size: 14px;
    }

    .nav-bars {
        width: 100%;
        height: 30px;
    }

    .nav-bars div {
        float: unset;
    }

    #subnav {
        margin-top: -8px;
        margin-left: 0;
        width: 100%;
    }

    .nav-list {
        position: relative;
        /* display: none; */
        height: 30px;
        float: left;
        width: 14%;
        border-top-left-radius: 25px;
        border-top-right-radius: 0;
        width: 18%;
        margin-left: 0px;
        margin-top: -30px;
    }

    .nav-list > #list{
        /* margin-top: 0; */
        position: relative;
        background-color: #A81411;
        width: 180px;
        display: none;
    }

    .nav-list .home {
        display: none;
    }

    .nav-list .home_2 {
        display: block;
        color: rgb(255, 214, 39);
        line-height: 32px;
        font-size: 24px;
    }

    .nav-list > #list > li {
        float: unset;
        /* margin: 0px 8px; */
        font-size: 12px;
    }

    .nav-list > img {
        display: none;
    }

    #commit {     
        flex-wrap: wrap;
    }

    .list-commit {
        width: 136px;
    }

    /* -------- slider -------- */
    #slider {
        padding-bottom: 350px;
    }

    #product {
        width: 100%;
        display: inline-block;
        padding: 25px 16px;
    }

    .product-select {
        width: 100%;
    }

    .product-type {
        font-size: 24px;
        float: left;
        width: 120px;
    }
    
    .product-type p {
        width: 100%;
    }

    .product-fast {
        margin-top: 0;
        float: right;
        width: 200px;
    }

    .product-list > p,
    .product-fast > p {
        font-size: 24px;
        width: 100%;
    }

    .product-type li {
        padding: 20px;
    }

    .product-list {
        margin-left: 0;
        margin-top: 25px;
    }

    .product-frame {
        width: 46%;
    }

    .product-frame > p {
        font-size: 10px;
        margin: 6px auto;
    }

    .product-frame > h3 {
        font-size: 12px;
    }

    .product-frame > .far {
        font-size: 16px;
        /* padding: 10px; */
        border-radius: 50px;
        margin: 10px;
    }

    /* -------- Document -------- */

    #document {
        padding: 20px 16px;
    }

    .bg-list {
        width: 46%;
        margin: 4px;
    }

    .bg-list > p {
        padding: 0;
        font-size: 0;
        margin: 0 4px;
    }

    .bg-img {
        width: 80%;
    }

    .bg-list > h3 {
        font-size: 12px;
        margin: 10px 0;
    }

    .bg-list .time-text,
    .bg-list .guide-text > a {
        font-size: 10px;
    }

    /* .bg-list .time-text {
        padding: 30px;
    } */


    /* -------- Document -------- */

    #certify {
        height: 600px;
    }

    #certify,
    #certify .certify-list{
        width: 100%;
    }

    .certify1 img {
        height: 200px;
        margin-left: -100%;
    }
    
    .certify2 img {
        height: 220px;
        margin-left: -50%;
    }
    
    .certify3 img {
        height: 200px;
        margin-left: 42%;
    }
    
    .certify4 img {
        height: 220px;
        margin-left: 25%;
    }
    
    .certify5 img {
        height: 240px;
        padding: 0;
        margin: auto;
    }

    .user > p {
        /* height: 220px; */
        width: 120px;
    }
    .cards__container .box:nth-child(2n),
    .cards__container .box:nth-child(4n + 1) {
        display: none;
    }

    /* #certify #button {
        position: absolute;
    } */

    /* -------- Footer -------- */

    #footer {
        width: 100%;
    }

    .footer-nav {
        display: inline-block;
        width: 100%;
    }

    .footer-list {
        float: left;
        margin: 20px 20px 10px;
    }

    .footer-logo {
        margin: 0;
    }

    .image {
        width: 100%;
        padding: 0 16px;
    }

    .image p {
        width: 170px;
    }

    .image img {
        margin: -6px 0;
    }

    #background {
        height: auto;
        position: unset;
    }

    #slider > #counsel {
        top: 70%;
    }

    .radio-btn {
        margin-top: 200px;
    }

    #certify .certify-list {
        height: 200px;
    }

    .user img {
        height: 40px;
    }

    .user .cmt-1 {
        margin-left: -40px;
    }

    .user .cmt-2 {
        margin-right: -40px;
    }

    .fal {
        font-size: 30px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .footer-logo {
        padding: 0;
    }
    

    /* -------- acquired.html -------- */

    #billing {
        display: inline-block;
        width: 100%;
        padding: 80px 50px;
    }

    .order {
        margin-top: 80px;
    }

    li > input {
        width: 100%;
    }

    .payment-procedure {
        width: 100%;
        padding: 0 50px 40px;
    }

    .count > .btn {
        width: 214px;
        height: 60px;
    }

    /* -------- complete.html -------- */

    #complete-payment {
        width: 100%;
        padding: 50px;
    }

    .count > .btn > a {
        padding: 14px;
    }
}